.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  .btn {
    display: flex;
    align-items: center;    
    font-weight: 700;
  }
}
